{% load menu_tags %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
  </head>
  <body>
    <div id="sidebar">
      <a href="{% url 'index' %}">Перейти к меню</a>
      {% if items %}
        <ul>
          {% for item in items %}
            <li><a href='{{ item.url }}'>{{ item.name }}</a></li>
          {% endfor %}
        </ul>    
      {% elif last_item %}
        {% draw_menu last_item %}
      {% endif %}
    </div>
  </body>
</html>
